@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body 
{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Montserrat', 'sans-serif';
  overflow: hidden;
}

.body_container 
{
  position: relative;
  height: 100vh;
  width: 100vw;
}

#glcanvas 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
** Landing Page
*/

.landing 
{
  position: relative;
  width: 100%;
  height: 100%;
}

/*
** Nav Icon
*/

.nav_icon 
{
  width: 2.8vw;
  height: 4.5vh;
  top: 5%;
  right: 5%;
  position: fixed;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  row-gap: 0.75vh;
  border-radius: 5px;
  background-color: rgb(53, 58, 83);
}

.nav_icon_bar_1 
{
  width: 60%;
  height: 9%;
  background-color: whitesmoke;
  border-radius: 25px;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
.nav_icon_bar_2 
{
  width: 60%;
  height: 9%;
  background-color: whitesmoke;
  border-radius: 25px;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
.nav_icon_bar_3 
{
  width: 60%;
  height: 9%;
  background-color: whitesmoke;
  border-radius: 25px;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}


.intro_header 
{
  position: fixed;
  top: 45%;
  left: 3%;
  color: blanchedalmond;
  font-size: calc(0.5vh + 2.5rem);
  transition: all;
  transition-timing-function: ease-in-out;
}

.intro_subheader 
{
  position: fixed;
  top: 55%;
  left: 3%;
  color: blanchedalmond;
  font-size: calc(0.2vh + 0.9rem);
  transition: all;
  transition-duration: 0.1s;

}

.projects_wrapper 
{
  position: fixed;
  right: 0%;
  top: 0%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.projects_container 
{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  column-gap: 3vh;
  justify-content: start;
  place-items: center;
  background-color: azure;
}


/*
** Projects Page
*/
