@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes FadeIn {
  from  { opacity: 0; }
  to    { opacity: 1; }
}

body 
{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Montserrat', 'sans-serif';
  overflow: hidden;
}

.body_container 
{
  position: relative;
  height: 100vh;
  width: 100vw;
}

#glcanvas 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
** Preloader
*/

.preloader 
{
  position: absolute;
  left: 50%;
  top: 48%;
  animation: FadeIn 0.8s linear 0s infinite forwards;
  width: 1%;
  height: 4%;
  background-color: whitesmoke;
}

/*
** Landing Page
*/

.landing 
{
  position: relative;
  width: 100%;
  height: 100%;
}

/*
** Nav Icon
*/

.nav_icon 
{
  width: calc(1.0vw + 2.0rem);
  height: calc(1.0vw + 1.7rem);
  top: 5%;
  right: 5%;
  position: fixed;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  row-gap: 0.75vh;
  border-radius: 5px;
  background-color: rgba(23, 38, 55, 0);
  transition: all;
  transition-duration: 0.5s;
}

.nav_icon:hover 
{
  box-shadow: 0px 0px 10px rgb(24, 39, 69);
  transform: scale(0.95);
}

.nav_icon_bar_1 
{
  width: 60%;
  height: 6%;
  background-color: #171717;
  border-radius: 25px;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
.nav_icon_bar_2 
{
  width: 60%;
  height: 6%;
  background-color: #171717;
  border-radius: 25px;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
.nav_icon_bar_3 
{
  width: 60%;
  height: 6%;
  background-color: #171717;
  border-radius: 25px;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}


.intro_header 
{
  position: fixed;
  top: 49%;
  left: 3%;
  color: blanchedalmond;
  font-size: calc(0.5vh + 2.5rem);
  transition: all;
  transition-timing-function: ease-in-out;
}

.intro_subheader 
{
  position: fixed;
  top: 59%;
  left: 3%;
  color: blanchedalmond;
  font-size: calc(0.2vh + 0.9rem);
  transition: all;
  transition-duration: 0.1s;

}

.links_container 
{
  position: fixed;
  z-index: 20;
  right: 5%;
  bottom: 5%;
  width: calc(5vw + 7rem);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  place-items: center;
  column-gap: 2vw;
  background-color: rgba(5, 10, 23, 0.849);
  border-radius: 15px;
  padding-top: calc(2.0vh + 0.25rem);
  padding-bottom: calc(2.0vh + 0.25rem);
  padding-right: calc(2.0vw + 0.25rem);
  padding-left: calc(2.0vw + 0.25rem);
}

.link 
{
  cursor: pointer;
}

.projects_container 
{
  z-index: 0;
  position: fixed;
  left: 5%;
  top: 2%;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  justify-content: center;
  place-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all 1s ease-in-out;
  visibility: hidden;
}

.projects_header 
{
  text-align: center;
}

.projects_header h1 
{
  font-size: calc(1.5vh + 0.5rem);
}

.projects_header p 
{
  font-size: calc(1.0vh + 0.25rem);

}

.projects_wrapper 
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  place-items: center;
  column-gap: 5vh;
  row-gap: 0;
  width: 100%;
  height: 75%;
}

.project 
{
  position: relative;
  width: 30vh;
  height: 30vh;
  background-color: rgba(47, 47, 47, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.projectWrapper 
{
  position: relative;
  height: 100%;
  width: 100%;
}

.projectImage 
{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transition: all;
  transition-duration: 0.5s;
}

.currentProject 
{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: calc(2vw + 5.0rem);
  height: calc(0.7vw + 1.0rem);
  top: -15%;
  background-color: rgba(221, 221, 221, 0.122);
  color: #ebebeb;
  border-radius: 10px;
}

.projectImage:hover 
{
  opacity: 0.5;
}

.projectTitle 
{
  color: rgb(174, 174, 174);
}

.projectLink 
{
  position: relative;
  color: whitesmoke;
  font-size: calc(0.1vh + 0.5rem);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.projectDescription
{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 0.5vw;
  justify-content: center;
  place-items: center;
  background-color: #0d1119;
  font-size: calc(0.5vh + 0.3rem);
  color: rgb(187, 187, 187);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.projectLinkWrapper 
{
  border: 1px solid #d65729;
  background-color: rgba(255, 255, 255, 0);
  color: #ebebeb;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  place-items: center;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.projectFeaturesWrapper 
{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.1vh;
  place-items: center;
}

.projectFeatures 
{
  display: flex;
  width: 85%;
  flex-direction: column;
  justify-content: center;
  row-gap: 1vh;
  place-items: start;
}

.projectLinkWrapper:hover 
{
  background-color: #d65729;
  color: black;
  cursor: pointer;
}

.ExpandWidth 
{
  width: 100%;
}

.FadeIn 
{
  opacity: 1.0;
}


/*
** Projects Page
*/
